/* the other classes were gotten from linking signinin to signup in the app */

.alert {
  position: absolute;
  width: 400px;
  height: 100px;
  top: 100px;
  /* border: 1px solid black; */
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
}

.alert_edge-success {
  left: 0;
  background-color: #27ae60;
  width: 10px;
  height: 100%;
}
.alert_edge-failure {
  left: 0;
  background-color: #ff0000;
  width: 10px;
  height: 100%;
}

.alert_success-content {
  width: fit-content;
  display: flex;
  align-items: center;
}
.alert_success-content img {
  max-height: 70%;
  margin-left: 14px;
}
.alert_success-content > div {
  margin-left: 38px;
}
.alert_success-content h5 {
  margin: 0;
  font-size: 18px;
  font-weight: 450;
  line-height: 133%;
  letter-spacing: 0em;
  text-align: left;

  /* color: black; */
}
.alert_success-content span {
  margin: 0;
  /* color: black; */
  font-weight: 450;
  font-size: 14px;
  line-height: 129%;

  color: rgba(0, 0, 0, 0.7);

  flex: none;
  order: 1;
  flex-grow: 0;
}
